

<main class="px-3">
<h1>sta-k.com</h1>
<p class="lead">Log in</p>
</main>
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="onLogin()">

					<input type="text" name="username" placeholder="Username" [(ngModel)]="user.username" 
					required autofocus class="form-control" />
					<br>
					<input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"
					    required class="form-control" /><br>
					<div *ngIf="errors" class="alert alert-danger">
						<ul>
							<li *ngFor="let key of Object.keys(errors.error)">{{key}} - {{errors.error[key]}}</li>
						</ul>
					</div>
					<button class="btn btn-primary" *ngIf="!loading" type="submit">Log in</button>
				  	<button class="btn btn-primary" type="button" *ngIf="loading" disabled>
					  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

