<button [routerLink]="'/logout'">Log Out</button>
<h1>Your Cart:</h1>
<form action="" [formGroup]="cartForm">
	<label>Product:</label>
	<input type="text" formControlName="product" name="product" class="form-control"><br>
	<label>Quantity:</label>
	<input type="text" formControlName="quantity" class="form-control">
	<pre>{{errors|json}}</pre>
	<button (click)="onAdd()">Add</button>
</form>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of cartArray">
        {{item.product}} - {{item.quantity}} - {{item.user_name}} -
        <button (click)="delete(item.id)">delete</button>
    </li>
</ul>